body {
    padding: 0px;
    margin: 0px;
}

.mainBody{
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.mainDiv{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    background-color:#d8e1e2;
}

.canvasToolBar {
    display: flex;
    flex-direction: row;
}

.canvasDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.buttonDiv{
    position: relative;
    display: flex;
    padding-right: auto;
    flex-direction: column;
    align-self: flex-start;
    background-color:#d8e1e2;
    min-width: 300px;
    min-height: 100%;

}
.File-label {
    height: 50px;
    margin: 5px;
    padding: 0px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #dcdfe6;
    border-radius: 5px;
    border: 0px;
    background: linear-gradient(180deg, rgba(0,1,77,1) 0%, rgba(2,2,121,1) 36%, rgba(2,35,126,1) 76%, rgba(2,65,130,1) 99%);
  }

  .File-label:hover {
    cursor: pointer;
    box-shadow: 0px 3px 3px #2f2f2f;
}

.Files-container {
    display: flex;
    width:550px;
    margin: 0px;
    height: 300px;
    flex-direction: column;
    border: 2px solid lightgray;
    border-radius: 3px;
    background-color: white;
}
[type="file"] {
    display: none;
  }
  #eraser
{cursor:pointer}

.footer {
    margin-top: auto;
}