body {
    padding: 0px;
    margin: 0px;
}

.myButton {
    background-color: aquamarine;
}

.mainBody{
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f4f4f8;
}

.advancedDiv {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-end;
    font-size: 16px;
    height: 66px;
    min-height: 66px;
    width: 100%;
    padding-left: 4px;
    color:rgb(71, 71, 71);
    background-color: 'red';
}

.header {
    padding: 18px 0px 12px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(211, 191, 80);
    background-color: #202047;
    margin: 0px 0px 10px 0px;
}

.exampleDropDown:hover {
    cursor: pointer;
    box-shadow: 0px 3px 5px #a5a5a5;
    background-color: #344296;
}

.headerLabel{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 30px;
    font-weight: lighter;
    color: rgb(228, 228, 228);

}

.padding-right {
    padding: 0px 20px 0px 0px;
}

.mainDiv{
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 1120px;
    max-width: 1120px;;
}

.canvasToolBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    padding: 3px 0px 3px 3px;
    border-top: 1px solid #bbbdc48e;
    border-right: 1px solid #bbbdc48e;
    border-bottom: 1px solid #bbbdc48e;
    
}

.canvasDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 8px;
}

.buttonDiv{
    position: relative;
    display: flex;
    
    flex-direction: column;
    align-self: flex-start;
    min-width: 400px;
    width: 400px;
    min-height: 100%;
    margin-right: 8px; 
}

.innerButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
}

.sliderDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 12px 0px;

}

.File-label {
    margin: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    border: 0px;
}


.fileUploadDiv {
    height: 40px;
    background-color: #3f51b5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    border-radius: 5px;

}

.fileUploadDiv:hover {
    cursor: pointer;
    box-shadow: 0px 3px 5px #a5a5a5;
    background-color: #344296;
}

[type="file"] {
    display: none;
  }
  #eraser
{cursor:pointer}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 300;
    border-top: 1px solid rgb(211, 191, 80);
    text-align: center;
    color: rgb(228, 228, 228);
    padding: 5px;
    background-color: #202047;
    margin-top: auto;
    width: 100%
}


.screenSizeWarningDiv {
    z-index: 1;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(242, 47, 47);
}

.innerScreenSizeWarningDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 243, 237);
    border-radius: 7px;
    padding: 60px 40px;
}

.warningHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    font-weight: 900;
    color: rgb(3, 6, 70);
    margin: 0px;
}

.warningDescription {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin: 10px 0px 0px 0px;
    color: rgb(3, 6, 70);
}

@media screen and (max-width: 1120px) {
    .screenSizeWarningDiv {
        display: flex;
    }
}